.g-tittle {
  font-size: 3.6rem;
  text-align: center;
  padding: 20px 0;
  @include sp {
    font-size: 3rem;
  }
}
.g-logo {
  width: 40px;
  height: 40px;
  margin: 0 auto;
}
.g-container {
  width: 90%;
  margin: 0 auto;
}