.info-tab-content {
  display: none;
}
.info-tab-content.is-open {
  display: block;
}
.info-grid {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 10px;
  @include tab_lg {
    display: block;
  }
}
.info-img {
  position: relative;
  width: 25%;
  padding-top: 25%;
  overflow: hidden;
  display: inline-block;
  // imgにobject-fit:cover かけているので不要なのかも
  @include sp {
    width: 40%;
    }
}
.info-img-i {
  position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    /* 画像の最大サイズは枠の1.5倍まで */
    // max-width: 100%;
    // max-height: 100%;
}
.info-item {
  display: flex;
  align-items: center;
  padding: 10px;
  background-color: #f6f6f6;
  @include tab_lg {
    padding: 20px;margin-bottom: 20px;
    &:last-of-type {
      margin-bottom: 0;
    }

  }
}
.info-text {
  width: 75%;
  padding: 10px;
  line-height: 2.4rem;
 @include tab_lg {
   padding: 20px;
   padding-right: 0;
 }
 @include sp {
   font-size: 1.4rem;
 }
}
.plan-date {
  font-size: 1.4rem;
}
.info-tab-name {
  margin: 0 auto;
  text-align: center;
  margin-bottom: 30px;
}
.info-tab { 
  padding: 10px 20px;
  &:hover {
    cursor: pointer;
    opacity: 0.7;
  }
}
.info-tab.is-open {
  text-decoration: underline;

}