// 定義

$color01: #333;
$color02: #fff;


// レスポンシブ対応

$pc_lg: 1200px; //PC(Large)
$pc: 1024px; // PC
$tab_lg: 900px; //タブレット(Large)
$tab: 680px; // タブレット
$sp: 520px;  // スマホ
$sp_sm: 420px; //スマホ(Small)

@mixin pc_lg {
  @media (max-width: $pc_lg) {
    @content;
  } 
}
@mixin pc {
  @media (max-width: $pc) {
    @content;
  }
}
@mixin tab_lg {
  @media (max-width: $tab_lg) {
    @content;
  }
}
@mixin tab {
  @media (max-width: $tab) {
    @content;
  }
}
@mixin tab {
  @media (max-width: $tab) {
    @content;
  }
}
@mixin sp {
  @media (max-width: $sp) {
    @content;
  }
}@mixin sp_sm {
  @media (max-width: $sp_sm) {
    @content;
  }
}
@mixin black {
  color: #000; 
}