@import // 共通
  "mixin",
  "g",
  "is",
  "mode",

  // トップページ
  "header",
  "fv", "greeting", "about", "plan", "info", "access", "bottom", "footer",
  
  // 下層ページ
  "annex";


//  タグ

html {
  font-size: 62.5%;
}

body {
  font-size: 1.6rem;
  // letter-spacing: .5em;
  color: #333;
  // font-weight: bold;
  line-height: 1.7;
  // white-space: pre-line;
  // font-family: “Yu Mincho”, “游明朝”, “游明朝体”, “YuMincho”,
  // “ヒラギノ明朝 Pro W3”, “Hiragino Mincho Pro”, “HiraMinProN-W3”, “HGS明朝E”,
  // “ＭＳ Ｐ明朝”, “MS PMincho”, serif;
  // min-width: 1000px;
}

body.noscroll {
  overflow: hidden;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: normal;
  // font-weight: bold;
}

img,
svg {
  width: 100%;
  height: 100%;
  object-fit: cover;
  vertical-align: bottom;
    .header, 
    .bottom & {
      vertical-align: top;
    }
}

ol,
ul,
li {
  list-style: none;
  display: block;
}

a {
  text-decoration: none;
  display: inline-block;
  color: #171717;
  &:hover {
    cursor: pointer;
    opacity: 0.7;
    transition: 0.3s;
  }
  .header & {
    color: #fff;
  }
  .footer & {
    color: #fff;
  }
}

input {
  outline: none;
}

textarea {
  display: block;
  outline: none;
}

input,
textarea {
  font-size: 1.4rem;
  color: #333;
  font-weight: normal;
}

select {
  background-color: transparent;
  appearance: none;
  -webkit-appearance: none;
  -moz-appearance: none;
  border: none;
  outline: none;
}

table {
  border-collapse: collapse;
}

button {
  background-color: transparent;
  outline: none;
  border: none;
  cursor: pointer;
  // appearance: none;
  // padding: 0;
}

section {
  padding: 75px 0;
}

h1 {
  font-size: 3.2rem;
}

// h2 {
//   font-size: 3.2rem;
//   text-align: center;
// }

// h3 {
//   font-size: 2.8rem;
//   text-align: center;
//   padding-top: 60px;
// }

// h4 {
//   font-size: 2.4rem;
//   padding-bottom: 40px;
// }
